[include]
    path = ~/.config/git/core.gitconfig
    path = ~/.config/git/aliases.gitconfig
    path = ~/.config/git/commands.gitconfig
    path = ~/.config/git/flow.gitconfig
    path = ~/.config/git/shell.gitconfig
    path = ~/.config/git/web.gitconfig
    path = ~/.config/git/dirs.gitconfig
    path = ~/.gitconfig.local


[http]
	postBuffer = 524288000
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true

[include]
    path = ~/.gitconfig.local
