 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */
 /* wallust template - colors-rofi */

* {
active-background: #6E564F;
active-foreground: #E4DEDE;
normal-background: #311212;
normal-foreground: #E4DEDE;
urgent-background: #634D4D;
urgent-foreground: #E4DEDE;

alternate-active-background: #CF6849;
alternate-active-foreground: #E4DEDE;
alternate-normal-background: #311212;
alternate-normal-foreground: #E4DEDE;
alternate-urgent-background: #311212;
alternate-urgent-foreground: #E4DEDE;

selected-active-background: #6E564F;
selected-active-foreground: #311212;
selected-normal-background: #6E564F;
selected-normal-foreground: #311212;
selected-urgent-background: #CF6849;
selected-urgent-foreground: #311212;

background-color: rgba(49,18,18,0.3);
background: rgba(49,18,18,0.3);
foreground: #E4DEDE;
border-color: #6E564F;

color0: #BAB1B1;
color1: #BF9232;
color2: #937955;
color3: #AB624B;
color4: #604F4A;
color5: #594848;
color6: #594848;
color7: #73571E;
color8: #B2882F;
color9: #FFC243;
color10: #A47C42;
color11: #CF6849;
color12: #6E564F;
color13: #634D4D;
color14: #634D4D;
color15: #F6D899;
}
