 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */
 /* wallust template - colors-rofi */

* {
active-background: #7B7686;
active-foreground: #DCD9DA;
normal-background: #250F1A;
normal-foreground: #DCD9DA;
urgent-background: #9B5E54;
urgent-foreground: #DCD9DA;

alternate-active-background: #D85A3A;
alternate-active-foreground: #DCD9DA;
alternate-normal-background: #250F1A;
alternate-normal-foreground: #DCD9DA;
alternate-urgent-background: #250F1A;
alternate-urgent-foreground: #DCD9DA;

selected-active-background: #7B7686;
selected-active-foreground: #250F1A;
selected-normal-background: #7B7686;
selected-normal-foreground: #250F1A;
selected-urgent-background: #D85A3A;
selected-urgent-foreground: #250F1A;

background-color: rgba(37,15,26,0.3);
background: rgba(37,15,26,0.3);
foreground: #DCD9DA;
border-color: #7B7686;

color0: #AEA9AB;
color1: #9A9C9F;
color2: #B5634F;
color3: #B5634F;
color4: #6B6773;
color5: #82554D;
color6: #57484C;
color7: #5C5E5F;
color8: #8F9294;
color9: #CDD0D4;
color10: #D85A3A;
color11: #D85A3A;
color12: #7B7686;
color13: #9B5E54;
color14: #614C52;
color15: #DEDFE1;
}
