 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */
 /* wallust template - colors-rofi */

* {
active-background: #BB425D;
active-foreground: #DCD8DF;
normal-background: #7F1F03;
normal-foreground: #DCD8DF;
urgent-background: #955D65;
urgent-foreground: #DCD8DF;

alternate-active-background: #F18264;
alternate-active-foreground: #DCD8DF;
alternate-normal-background: #7F1F03;
alternate-normal-foreground: #DCD8DF;
alternate-urgent-background: #7F1F03;
alternate-urgent-foreground: #DCD8DF;

selected-active-background: #BB425D;
selected-active-foreground: #7F1F03;
selected-normal-background: #BB425D;
selected-normal-foreground: #7F1F03;
selected-urgent-background: #F18264;
selected-urgent-foreground: #7F1F03;

background-color: rgba(127,31,3,0.3);
background: rgba(127,31,3,0.3);
foreground: #DCD8DF;
border-color: #BB425D;

color0: #AEA8B2;
color1: #BEA5B9;
color2: #CB7359;
color3: #C37059;
color4: #9B4155;
color5: #7F555A;
color6: #50425B;
color7: #675363;
color8: #A0829A;
color9: #E4B9DC;
color10: #FB8664;
color11: #F18264;
color12: #BB425D;
color13: #955D65;
color14: #584566;
color15: #E9D4E5;
}
