" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
" Do incremental searching.

" Don't use Ex mode, use Q for formatting.
map Q gq
set ideajoin
set ideamarks
set clipboard^=ideaput
set colorcolumn=1,+0
set list

set ideacopypreprocess
set idearefactormode=select
set ideastatusicon=enabled
set ideavimsupport=dialog,singleline
set ideawrite=file
"set trackactionids
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'
Plug 'easymotion/vim-easymotion'
Plug 'machakann/vim-highlightedyank'
Plug 'michaeljsmith/vim-indent-object'
packadd matchit
set min-ai
Plug 'terryma/vim-multiple-cursors'
Plug 'preservim/nerdtree'
set peekaboo
set quickscope
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'justinmk/vim-sneak'
set which-key
set timeoutlen=5000
let g:WhichKey_ShowVimActions = "true"
set surround
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
let mapleader = " "
imap <C-v> <Action>($Paste)
imap <C-p> <Action>($Paste)
imap <C-c> <Action>($Copy)
imap <C-y> <Action>($Copy)
map <C-a> <Action>($SelectAll)
map <C-a> <Action>($SelectAll)
map <leader>f <Action>(ReformatCode)
" ----------------------------------------------
" Menus
" ----------------------------------------------
nmap si <Action>(GotoAction)
nmap sc <Action>(GotoClass)
nmap sf <Action>(GotoFile)
# Grep Search
nmap sg <Action>(SearchEverywhere)
nmap sw <Action>($SearchWeb)
nmap ss <Action>(GotoSymbol)
nmap ss <Action>(ReplaceInPath)

" ----------------------------------------------
" Editor Nav
" ----------------------------------------------
nmap <S-Tab> <Action>(PreviousTab)
nmap <Tab> <Action>(NextTab)
map <leader>e <Action>(ActivateProjectToolWindow)
map <C-l> <Action>(NextSplitter)
map <C-j> <Action>(NextSplitter)
map <C-h> <Action>(PrevSplitter)
map <C-k> <Action>(PrevSplitter)
" ----------------------------------------------
" Refactoring
" ----------------------------------------------
map <leader>ca <Action>(RefactoringMenu)
map <leader>crn <Action>(RenameElement)
nmap grn <Action>(RenameElement)
map <leader>crm <Action>(RefactoringMenu)
" ----------------------------------------------
" Code Manipulation
" ----------------------------------------------
map <leader>ld <Action>(EditorDuplicateLines)
"map <A-CR> <Action>(ShowIntentionActions)

" ----------------------------------------------
" Code Nav
" ----------------------------------------------
nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(ShowUsages)
" map <A-j> <Action>(SelectNextOccurrence)
nmap gf <Action>(GoToLinkTarget)
nmap ge <Action>(GotoNextError)
nmap gE <Action>(GotoPreviousError)
nmap grc <Action>(ContextRun)
nmap gre <Action>(Console.Jdbc.Execute)
imap <C-Enter> <Action>(Console.Jdbc.Execute)

nmap gdc <Action>(ContextDebug)
nmap grr <Action>(Rerun)
nmap grft <Action>(RerunFailedTests)
nmap grt <Action>(RerunTests)
nmap grv <Action>(RunCoverage)
nmap grg <Action>(Gradle.ExecuteTask)
nmap <C-n> <Action>(NextOccurence)
" ----------------------------------------------
" TODO
" ----------------------------------------------
"map <leader>ac <Action>(LookupActions)
" map <leader>ac <Action>(EditorPopupMenu.GoTo)
" ShowIntentionActions
"
