" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
" Do incremental searching.

" Don't use Ex mode, use Q for formatting.
map Q gq
set ideajoin
set ideamarks
set clipboard^=ideaput
set colorcolumn=1,+0
set list


set ideacopypreprocess
set idearefactormode=select
set ideastatusicon=enabled
set ideavimsupport=dialog,singleline
set ideawrite=file
set trackactionids
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
let mapleader = " "

" ----------------------------------------------
" Menus
" ----------------------------------------------
nmap si <Action>(GotoAction)
nmap sc <Action>(GotoClass)
nmap sf <Action>(GotoFile)
nmap sa <Action>(SearchEverywhere)
nmap ss <Action>(GotoSymbol)

" ----------------------------------------------
" Editor Nav
" ----------------------------------------------
nmap <S-Tab> <Action>(PreviousTab)
nmap <Tab> <Action>(NextTab)

" ----------------------------------------------
" Refactoring
" ----------------------------------------------
map <leader>mr <Action>(RefactoringMenu)
map <leader>rn <Action>(RenameElement)

" ----------------------------------------------
" Code Manipulation
" ----------------------------------------------
map <leader>ld <Action>(EditorDuplicateLines)
"map <A-CR> <Action>(ShowIntentionActions)

" ----------------------------------------------
" Code Nav
" ----------------------------------------------
nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
" map <A-j> <Action>(SelectNextOccurrence)


" ----------------------------------------------
" TODO
" ----------------------------------------------
"map <leader>ac <Action>(LookupActions)
" map <leader>ac <Action>(EditorPopupMenu.GoTo)
" ShowIntentionActions
"
